@import './varibles.less';

.text {
    font-family: 'Roboto Mono', monospace;
    margin: .5em 0;
    text-decoration: none;
}

.large-text {
    font-size: 2em;
    letter-spacing: .03em;
}

.medium-text {
    font-size: 1.5em;
    text-decoration: none;
    letter-spacing: .05em;
}

.small-text {
    font-size: .8em;
    line-height: 1.5em;
    letter-spacing: .1em;
}

.code {
  font-family: 'Roboto Mono', monospace;
  font-size: .6em;
  line-height: .6em;
  letter-spacing: .1em;
  color: @green;
}
