@import './varibles.less';

.largeText {
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
  line-height: 20px;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.mediumText {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
  line-height: 20px;
  text-decoration: none;
  letter-spacing: .05em;
}

.smallText {
  font-family: 'Roboto Mono', monospace;
  font-size: .8em;
  line-height: 20px;
  letter-spacing: .1em;
}

.code {
  font-family: 'Roboto Mono', monospace;
  font-size: .7em;
  line-height: .6em;
  letter-spacing: .1em;
  color: @green;
}
