@import './varibles.less';

// Large Text
.header {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
  font-weight: normal;
  @media @screen-sm {
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 6px;
  }
  @media @screen-md {
    line-height: 6rem;
    font-size: 6rem;
  }
}


.largeText {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1;
  font-size: 3em;
  letter-spacing: .03em;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 700;
  @media @screen-md {
    font-size: 9em;
  }
}

// Medium Text
.mediumText {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  line-height: 1;
  text-decoration: none;
  letter-spacing: .05em;
  @media @screen-md {
    font-size: 2.5em;
  }
}

.mediumTextBold {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 1;
  text-decoration: none;
  letter-spacing: .05em;
  @media @screen-md {
    font-size: 2.5em;
  }
}

.mediumModalBold {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 1;
  text-decoration: none;
  letter-spacing: .05em;
  @media @screen-md {
    font-size: 2em;
  }
}

// Small Text
.smallText {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  line-height: 15px;
  letter-spacing: 0.1em;
  font-size: .7em;
  @media @screen-md {
    font-size: .8em;
  }
}

.smallTextBold {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  font-size: .8em;
  line-height: 1;
  letter-spacing: 0.1em;
}

.smallParagraph {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: .8rem;
  letter-spacing: 1px;
  @media @screen-md {
    font-size: 1em;
  }
}

.code {
  font-family: 'Roboto Mono', monospace;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 23px;
  color: @green;
}

.boxTitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  letter-spacing: .1em;
  line-height: 23px;
  text-transform: uppercase;
}

// Utils
.toUpper {
  text-transform: uppercase;
}

.center {
  text-align: center;
}
