@red: #89002E;
@white: #f5f8fa;
@green: #4DFF00;
@blue: #245998;
@gray: #A5ACAF;

/* Palette URL: http://paletton.com/#uid=23v0u0knI6ueNc0jJ9osv3XBA1H */

/* Feel free to copy&paste color codes to your application */


/* MIXINS */

/* As hex codes */

@color-primary-0: #0A1821;	/* Main Primary color */
@color-primary-1: #23333D;
@color-primary-2: #142530;
@color-primary-3: #030D14;
@color-primary-4: #000509;

@color-complement-0: #34230D;	/* Main Complement color */
@color-complement-1: #604C33;
@color-complement-2: #4B361D;
@color-complement-3: #1F1303;
@color-complement-4: #0D0700;



/* As RGBa codes */

@rgba-primary-0: rgba( 10, 24, 33,1);	/* Main Primary color */
@rgba-primary-1: rgba( 35, 51, 61,1);
@rgba-primary-2: rgba( 20, 37, 48,1);
@rgba-primary-3: rgba(  3, 13, 20,1);
@rgba-primary-4: rgba(  0,  5,  9,1);

@rgba-complement-0: rgba( 52, 35, 13,1);	/* Main Complement color */
@rgba-complement-1: rgba( 96, 76, 51,1);
@rgba-complement-2: rgba( 75, 54, 29,1);
@rgba-complement-3: rgba( 31, 19,  3,1);
@rgba-complement-4: rgba( 13,  7,  0,1);

@screen-sm: ~'only screen and (min-width: 48rem)';
@screen-md: ~'only screen and (min-width: 64rem)';
@screenLg: ~'only screen and (min-width: 75rem)';
