@red: #89002E;
@white: #f5f8fa;
@green: #008000;

/* Palette URL: http://paletton.com/#uid=15n0u0k5E2r3igB2N8Wdj2xjU2E */

/* As hex codes */

@color-primary-0: #110E0F;	/* Main Primary color */
@color-primary-1: #75696D;
@color-primary-2: #3F393B;
@color-primary-3: #120A0D;
@color-primary-4: #13070B;

/* As RGBa codes */

@rgba-primary-0: rgba( 17, 14, 15,1);	/* Main Primary color */
@rgba-primary-1: rgba(117,105,109,1);
@rgba-primary-2: rgba( 63, 57, 59,1);
@rgba-primary-3: rgba( 18, 10, 13,1);
@rgba-primary-4: rgba( 19,  7, 11,1);

@screen-sm: ~'only screen and (min-width: 48rem)';
@screen-md: ~'only screen and (min-width: 64rem)';
@screenLg: ~'only screen and (min-width: 75rem)';
