@red: #f63854;
@orange: #febe5a;
@blue: #01ffcf;
@white: #f5f8fa;
@dark: #0b1922;
@green: #008000;
@darkTrans: rgba(11,25,34,0.5);

@screen-sm: ~'only screen and (min-width: 48rem)';
@screen-md: ~'only screen and (min-width: 64rem)';
@screenLg: ~'only screen and (min-width: 75rem)';
