/* Base */
html {
    width: 100%;
    height: 100;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
}

svg {
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0;
}

.line-left {
    background: -webkit-linear-gradient(left,#0b1922,rgba(0,0,0,0));
    background: linear-gradient(to right,#0b1922,rgba(0,0,0,0));
    height: 1px;
    position: relative;
    left: .5rem;
    margin-bottom: .5em;
}

.baseline-xs {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.fa {
    margin: .2em;
}

.wrench {
    color: #f63854;
}

.btn {
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    outline: none;
    font-weight: 300;
    font-size: 1rem;
    font-size: 16px;
    padding: 1em;
    margin: .5em;
    border-radius: 45px;
    background-clip: padding-box;
    background-color: #fff;
    color: #f63854;
    border: 0;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #f63854;
    color: #fff;
}
/* Colors */
.color-dark {
    color: #0b1922;
}

.color-light {
    color: #fff;
}

.red {
    color: #f63854;
}

.orange {
    color: #febe5a;
}

.light-blue {
    color: #01ffcf;
}

/* Text */
.text {
    font-family: 'Rubik', sans-serif;
    margin: .5em 0;
    text-decoration: none;
}

.large-text {
    font-size: 2em;
    letter-spacing: .03em;
}

.medium-text {
    font-size: 1.5em;
    text-decoration: none;
    letter-spacing: .05em;
}

.small-text {
    font-size: .8em;
    line-height: 1.5em;
    letter-spacing: .1em;
}

.title {
    letter-spacing: 0em;
    opacity: .6;
}

.stack {
    font-size: .6em;
    color: #f63854;
    letter-spacing: .2em;
    font-weight: lighter;
}

.link {
    position: relative;
    font-size: .7em;
    line-height: 1.5em;
    letter-spacing: .1em;
}

.link:after {
    width: 0%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #f63854;
    content: "";
    left: 0;
    width: 0%;
    margin: auto;
    -webkit-transition: width .3s ease-in;
    transition: width .3s ease-in;
}

.link:hover:after {
    width: 100%;
    -webkit-transition: width .3s ease-in;
    transition: width .3s ease-in;
}

.project-link {
    color: #01ffcf;
    font-size: .7em;
}

/* Left side */
.left {
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #0b1922;
    padding: 1em;
}

.avatar {
    width: 11em;
    height: 11em;
    margin: .5em 0;
    border-radius: 50%;
    border: 3px solid #01ffcf;
    background: #641475;
    mix-blend-mode: difference;
    opacity: 0;
}

/* Right*/
.right {
    opacity: 0;
    padding: 1.5em;
    background-color: #fff;
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* Welcome */
.welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    -webkit-transition: opacity .4s ease-out;
    transition: opacity .4s ease-out;
    opacity: 1;
}

.svg {
    width: 50%;
}

/* Desktop styles*/
@media only screen and (min-width: 64em) {
    .container {
        height: 100vh;
        width: 100vw;
        margin: 0;
    }
    .left {
        height: 100%;
        width: 100%;
    }

    .right {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

/* Toggle Classes */
.first {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.second {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.third {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.forth {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.fith {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.sixth {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.seventh {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}

.eighth {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.ninth {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.tenth {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.eleventh {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.twelfth {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.thirteenth {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.fourteenth {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.fithteenth {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.sixteenth {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.seventeenth {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}
.eighteenth {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}

.visible {
    opacity: 1;
    z-index: 1;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.invisible {
    opacity: 0;
    z-index: 0;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.first {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
}
.second {
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
}
.third {
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
}
.forth {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
}
.fith {
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
}
.sixth {
    -webkit-transition-delay: .8s;
            transition-delay: .8s;
}
.seventh {
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
}
.eighth {
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
}
.ninth {
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
}
.tenth {
    -webkit-transition-delay: 1.1s;
            transition-delay: 1.1s;
}
.eleventh {
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
}
.twelfth {
    -webkit-transition-delay: 1.3s;
            transition-delay: 1.3s;
}
.thirteenth {
    -webkit-transition-delay: 1.4s;
            transition-delay: 1.4s;
}
.fourteenth {
    -webkit-transition-delay: 1.5s;
            transition-delay: 1.5s;
}
.fithteenth {
    -webkit-transition-delay: 1.6s;
            transition-delay: 1.6s;
}
.sixteenth {
    -webkit-transition-delay: 1.7s;
            transition-delay: 1.7s;
}
.seventeenth {
    -webkit-transition-delay: 1.8s;
            transition-delay: 1.8s;
}
.eighteenth {
    -webkit-transition-delay: 1.9s;
            transition-delay: 1.9s;
}


/* SVG animation */
#boulder-svg {
	display: block;
}

#boulder-svg-line-1,
#boulder-svg-line-2,
#boulder-svg-line-3,
#boulder-svg-line-4,
#boulder-svg-line-5,
#boulder-svg-line-6,
#boulder-svg-line-7,
#boulder-svg-line-8,
#boulder-svg-line-9,
#boulder-svg-line-10,
#boulder-svg-line-11,
#boulder-svg-line-12,
#boulder-svg-line-13,
#boulder-svg-line-14,
#boulder-svg-line-15,
#boulder-svg-line-16,
#boulder-svg-line-17,
#boulder-svg-line-18,
#boulder-svg-line-19,
#boulder-svg-line-20,
#boulder-svg-line-21,
#boulder-svg-line-22,
#boulder-svg-line-23,
#boulder-svg-line-24 {
	stroke-dasharray: 484;
	stroke-dashoffset: 484;
}

#boulder-svg #boulder-svg-line-1,
#boulder-svg #boulder-svg-line-2,
#boulder-svg #boulder-svg-line-3,
#boulder-svg #boulder-svg-line-4,
#boulder-svg #boulder-svg-line-5,
#boulder-svg #boulder-svg-line-6,
#boulder-svg #boulder-svg-line-7,
#boulder-svg #boulder-svg-line-8,
#boulder-svg #boulder-svg-line-9,
#boulder-svg #boulder-svg-line-10,
#boulder-svg #boulder-svg-line-11,
#boulder-svg #boulder-svg-line-12,
#boulder-svg #boulder-svg-line-13,
#boulder-svg #boulder-svg-line-14,
#boulder-svg #boulder-svg-line-15,
#boulder-svg #boulder-svg-line-16,
#boulder-svg #boulder-svg-line-17,
#boulder-svg #boulder-svg-line-18,
#boulder-svg #boulder-svg-line-19,
#boulder-svg #boulder-svg-line-20,
#boulder-svg #boulder-svg-line-21,
#boulder-svg #boulder-svg-line-22,
#boulder-svg #boulder-svg-line-23,
#boulder-svg #boulder-svg-line-24 {
	-webkit-animation: dash 1s linear forwards 0.5s;
	        animation: dash 1s linear forwards 0.5s;
}

@media screen and (max-width: 768px) {
	#boulder-svg #boulder-svg-line-1,
  #boulder-svg #boulder-svg-line-2,
  #boulder-svg #boulder-svg-line-3,
  #boulder-svg #boulder-svg-line-4,
  #boulder-svg #boulder-svg-line-5,
  #boulder-svg #boulder-svg-line-6,
  #boulder-svg #boulder-svg-line-7,
  #boulder-svg #boulder-svg-line-8,
  #boulder-svg #boulder-svg-line-9,
  #boulder-svg #boulder-svg-line-10,
  #boulder-svg #boulder-svg-line-11,
  #boulder-svg #boulder-svg-line-12,
  #boulder-svg #boulder-svg-line-13,
  #boulder-svg #boulder-svg-line-14,
  #boulder-svg #boulder-svg-line-15,
  #boulder-svg #boulder-svg-line-16,
  #boulder-svg #boulder-svg-line-17,
  #boulder-svg #boulder-svg-line-18,
  #boulder-svg #boulder-svg-line-19,
  #boulder-svg #boulder-svg-line-20,
  #boulder-svg #boulder-svg-line-21,
  #boulder-svg #boulder-svg-line-22,
  #boulder-svg #boulder-svg-line-23,
  #boulder-svg #boulder-svg-line-24 {
		-webkit-animation: dash 1s linear forwards 0.5s;
		        animation: dash 1s linear forwards 0.5s;
	}
}

@-webkit-keyframes dash {
	to {
		stroke-dashoffset: 100;
	}
}

@keyframes dash {
	to {
		stroke-dashoffset: 100;
	}
}
