html {
    width: 100%;
    height: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.color-dark {
    color: #0b1922;
}

.color-light {
    color: #fff;
}

.red {
    color: #f63854;
}

.orange {
    color: #febe5a;
}

.light-blue {
    color: #01ffcf;
}

.line-left {
    background: linear-gradient(to right,#0b1922,rgba(0,0,0,0));
    height: 1px;
    position: relative;
    left: .5rem;
    margin-bottom: .5em;
}

.large-text {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    margin: .2em 0;
    letter-spacing: .03em;
}

.medium-text {
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin: .5em 0 0 0;
    letter-spacing: .05em;

}

.small-text {
    font-size: .8em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin: .5em 0;
    line-height: 1.5em;
    letter-spacing: .1em;
}

.title {
    letter-spacing: 0em;
    opacity: .6;
}

.stack {
    font-size: .6em;
    text-decoration: none;
    color: #f63854;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    letter-spacing: .2em;
    font-weight: lighter;
}

.baseline-xs {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #0b1922;
    height: 100%;
    width: 100%;
}

.avatar {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    border: 3px solid #01ffcf;
    background: #641475;
    mix-blend-mode: difference;
}

.right {
    padding: 1.5em;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

.link {
    position: relative;
    font-size: .7em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin: .5em 0;
    line-height: 1.5em;
    letter-spacing: .1em;
}

.link:after {
    width: 0%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #f63854;
    content: "";
    left: 0;
    width: 0%;
    margin: auto;
    transition: width .3s ease-in;
}

.link:hover:after {
    width: 100%;
    transition: width .3s ease-in;
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.fa {
    margin: .2em;
}

.wrench {
    color: #f63854;
}

.project-link {
    color: #01ffcf;
    font-size: .7em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}