@import '../../base/varibles.less';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 40;
  transition: opacity .25s ease 0s, visibility linear .35s;
  opacity: .7;
  visibility: visible;
  transition-delay: 0s;
  transition-duration: .2s, 0s;
}

.modalFrame {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  z-index: 50;
  align-items: center;
  justify-content: center;
  text-align: center;
  visibility: visible;
  .modalInset {
    animation: modalComeIn .25s ease;
    visibility: visible; /* to keep @ final state */
  }
  .modalBody {
    opacity: 1;
    transform: translateY(0) scale(1,1);
  }
}

.stateLeave {
  visibility: visible;
  .modalInset {
      animation: modalHeadOut .35s ease .1s;
      visibility: visible;
  }
  .modalBody {
      opacity: 0;
      transition-delay: 0s;
      transition-duration: .35s;
      transition-timing-function: ease;
      transform: translateY(25px);
  }
}

@-moz-document url-prefix() {
    .modalFrame {
        height: calc(100% - 55px);
    }
}

.modal {
  text-align: left;
  max-width: 1280px !important;
  max-height: 720px;
}

.modalInset {
  position: relative;
  padding: 60px;
  background-color: white;
  box-shadow: 2px 2px 8px 1px rgba(0,0,0,.2);
  backface-visibility: hidden; // helps render animation
  transform: translate3d(0,0,0); // helps render animation
  transform-style: preserve-3d; // helps render animation
}

.close {
  background-image: url('../../base/assets/closeModal.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  height: 20px;
  width: 20px;
  opacity: .4;
  &:hover {
    opacity: 1;
  }
}

.title {
  text-align: center;
  margin-bottom: 46px;
  font-size: 2.5em;
}

.modalBody {
  opacity: 0;
  transform: translateY(0) scale(.8, .8);
  transition-property: opacity, transform;
  transition-duration: .25s;
  transition-delay: .1s;
}

@keyframes modalComeIn {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: scale(.8, .8);
    }
    65.5% {
        transform: scale(1.03, 1.03);
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes modalHeadOut {
    0% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scale(1, 1);
    }
    100% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(35px) scale(.97, .97);
    }
}
