@import '../../base/varibles.less';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @white;
  z-index: 40;
  transition: opacity .25s ease 0s, visibility linear .35s;
  visibility: visible;
  transition-delay: 0s;
  transition-duration: .2s, 0s;
  display: none;
  @media @screen-sm {
    display: block;
    background-color: @dark;
    opacity: .7;
  }
}

.container {
  position: fixed;
  background-color: @white;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 50;
  text-align: center;
  visibility: visible;
  width: 100vw;
  height: 100vh;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
  overflow-y: scroll;
  // height: 100%;
  @media @screen-sm {
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: auto;
    right: 0;
    bottom: 0;
    margin-right: -0.5rem !important;
    margin-left: -0.5rem !important;
    background-color: transparent;
  }
}

.header {
  height: 60px;
  width: 100vw;
  background-color: @white;
  z-index: 1;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.modal {
  text-align: left;
  background-color: @white;
}

.modalInset {
  background-color: @white;
  backface-visibility: hidden; // helps render animation
  transform: translate3d(0,0,0); // helps render animation
  transform-style: preserve-3d; // helps render animation
  animation: modalComeIn .25s ease;
  visibility: visible; /* to keep @ final state */
  overflow-y: scroll;
  height: 100%;
  @media @screen-sm {
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,.2);
    position: relative;
    height: auto;
    overflow-y: auto;
  }
}

.closeWrapper {
  height: 100%;
  position: relative;
}

.close {
  cursor: pointer;
  z-index: 200;
  position: absolute;
  top: 21px;
  left: 10px;
  &:hover {
    opacity: 1;
  }
  @media @screen-md {
    opacity: .4;
  }
}

.spacer {
  margin-bottom: 15px;
}

.modalBody {
  transform: translateY(0) scale(.8, .8);
  transition-property: opacity, transform;
  transition-duration: .25s;
  transition-delay: .1s;
  opacity: 1;
  transform: translateY(0) scale(1,1);
}

.content {
  padding: 16px;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

@keyframes modalComeIn {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: scale(.8, .8);
    }
    65.5% {
        transform: scale(1.03, 1.03);
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes modalHeadOut {
    0% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0) scale(1, 1);
    }
    100% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(35px) scale(.97, .97);
    }
}
