@import '../base/varibles.less';

.container {
  justify-content: center;
  position: relative;
}

.listContainer {
  background: transparent;
  color: @white;
  padding: 50px 0;
}

.listItem {
  list-style-type: none;
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  background: transparent;
  &:after {
    content: ' ';
    position: absolute;
    left: -9%;
    bottom: 5px;
    transition: all .3s ease;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: @color-secondary-2-0;
    opacity: 1;
    @media @screen-sm {
      bottom: 0;
      left: -15%;
      width: 30px;
      height: 30px;
    }
  }
  > .itemContent::before {
    left: -16px;
    border-width: 8px 16px 8px 0;
    border-color: transparent @color-secondary-2-4 transparent transparent;
  }
  @media @screen-sm {
    margin: 0 auto;
    width: 6px;
    &:after {
      left: 50%;
    }
    &:nth-child(odd) .itemContent {
      left: 45px;
    }

    &:nth-child(odd) .itemContent::before {
      left: -16px;
      border-width: 8px 16px 8px 0;
      border-color: transparent @color-secondary-1-0 transparent transparent;
    }

    &:nth-child(even) .itemContent {
      left: -439px;
    }

    &:nth-child(even) .itemContent::before {
      right: -16px;
      left: auto;
      border-width: 8px 0 8px 16px;
      border-color: transparent transparent transparent @color-secondary-1-0;
    }

  }
}

.itemContent {
  position: relative;
  bottom: 0;
  background: @white;
  box-shadow: @shadowDark;
  opacity: 0;
  &:before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  @media @screen-sm {
    width: 400px;
  }
}

.inView {
  animation-name: inView;
  animation-duration: .3s;
  animation-delay: .3s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
  &:after {
    opacity: 1;
  }
}

@keyframes inView {
  0% {
    opacity: 0;
    transform: translate3d(0px, 200px, 0);
  }
  100% {
    opacity: 1;
    transform: none !important;
  }
}

.title {
  background: @white;
  color: @dark;
  padding: 15px;
}

.date {
  color: @dark;
  padding: 15px;
}

.summary {
  color: @dark;
  padding: 15px;
  line-height: 2rem;
  opacity: .7;
}
