@import '../base/varibles.less';

.header {
  width: 100%;
  position: fixed;
  background: @dark;
  top: 0;
  left: 0;
  z-index: 3;
  min-height: 0;
  @media @screen-md {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 100%;
  }
}

.basicNav {
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.mobileBars {
  font-size: 30px !important;
  color: @white;
  margin-right: 10px;
  @media @screen-md {
    display: none !important;
  }
}

.logo {
  text-decoration: none;
  font-size: 30px !important;
  color: @white;
  margin-left: 10px;
}

.icons {
  font-size: 20px !important;
  color: @white;
  margin-bottom: 10px;
}

.social {
  display: none;
  @media @screen-md {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
