@import "../base/varibles.less";

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: @color-primary-4;
  z-index: 100;
}

.enter {
    opacity: 0.01;
    transition: all .5s ease-in;
}
.enter.enterActive {
    opacity: 1;
}
.leave {
    opacity: 1;
    transition: all .5s ease-in;
}
.leave.leaveActive {
    opacity: 0.01;
}
.appear {
    opacity: 0.01;
}
.appear.appearActive {
    opacity: 1;
    transition: all .5s ease-in;
}
