@import './base/varibles.less';

html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  background: @white;
}


a {
  text-decoration: none;
  color: @color-primary-3;
  cursor: pointer;
}

html, body, main, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.mainWrapper {
  flex-direction: column;
  justify-content: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.content {
  background: transparent;
  z-index: 200;
  padding-top: 60px;
  margin: auto;
  @media @screen-md {
    padding-top: 0px;
    padding-left: ~"calc(60px + 0.5rem)" !important;
    width: ~"calc(100% - 60px)";
  }
}
