@import '../../base/varibles.less';

.container {
  display: flex;
  height: ~"calc(100vh - 60px)";
  align-items: center;
  z-index: 200;
  @media @screen-md {
    height: 100vh;
  }
}

.name {
  z-index: 1;
}

.firstName {
  display: flex;
  color: @color-complement-0;
  z-index: 10;
  animation: explodeTitle 2s;
  animation-fill-mode: forwards;
  animation-delay: .3s;
  position: relative;
  text-transform: uppercase;
  transform:translate3d(0,0,0);
  @media @screen-md {
    font-size: 3em;
  }
}

.lastName {
  display: flex;
  transform:translate3d(0,-130px,0);
  display:block;
  left: -3px;
  position: relative;
  text-transform: uppercase;
  animation: bouncedWord 2s;
  animation-fill-mode: forwards;
  animation-delay: .3s;
  @media @screen-md {
    left: -7px;
    transform:translate3d(0,-330px,0);
  }
}

.spacer {
  margin-top: 10px;
}

.occupation {
  color: @color-secondary-1-4;
}

.strengths {
  text-transform: uppercase;
  color: @color-secondary-2-0;
}

.btn {
  color: @dark;
  cursor: pointer;
  padding: .5em 1.5em;
  width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  box-shadow: inset 0 0 20px rgba(10, 24, 33, 0);
  outline: 1px solid;
  outline-color: rgba(10, 24, 33, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  background: @white;
}

.btn:hover {
  border: 1px solid @color-complement-0;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(4, 65, 98, 0);
  outline-offset: 15px;
  color: @color-complement-0;
  text-decoration: none;
}

.bar {
  color: @color-complement-1;
}

// Title animation
@keyframes explodeTitle {
  10% {
    transform:scaleY(0.2);
    transform-origin:0 bottom 0;
  }
  20% {
    transform:scaleY(1.3);
    transform-origin:0 bottom 0;
  }
  30% {
    transform:scaleY(0.7);
    transform-origin:0 bottom 0;
  }
  40% {
    transform:scaleY(1);
    transform-origin:0 bottom 0;
  }
  100% {
    transform:scaleY(1);
    transform-origin:0 bottom 0;
  }
}
// Span Animation
@keyframes bouncedWord {
  8% {
    transform:translate3d(0,-65px,0) scaleY(0.4);
    transform-origin:left bottom 0;
  }
  25% {
    transform:translate3d(0,-180px,0) scaleY(1.4);

  }
  40% {
    transform:translate3d(0,0,0) scaleY(0.6);
    transform-origin:left bottom 0;
  }
  50% {
    transform:translate3d(0,0,0) scaleY(1.2);
    transform-origin:left bottom 0;
  }
  60% {
    transform:translate3d(0,0,0) scaleY(1);
    transform-origin:left bottom 0;
  }
  80% {
    transform:translate3d(0,0,0);
  }
  100% {
    transform:translate3d(0,0px,0);
  }
}
@media @screen-md {
  @keyframes bouncedWord {
    8% {
      transform:translate3d(0,-155px,0) scaleY(0.4);
      transform-origin:left bottom 0;
    }
    25% {
      transform:translate3d(0,-330px,0) scaleY(0.4);
    }
    40% {
      transform:translate3d(0,0,0) scaleY(0.6);
      transform-origin:left bottom 0;
    }
    50% {
      transform:translate3d(0,0,0) scaleY(1.2);
      transform-origin:left bottom 0;
    }
    60% {
      transform:translate3d(0,0,0) scaleY(1);
      transform-origin:left bottom 0;
    }
    80% {
      transform:translate3d(0,0,0);
    }
    100% {
      transform:translate3d(0,0px,0);
    }
  }

}
